:root {
  --pale-green: rgb(231, 243, 234);
  --apple-green: rgb(169, 206, 123);
  --pale-peach: rgb(253, 234, 223);
  --violet: rgb(236, 97, 159);
  --mint-green: rgb(133, 200, 175);
  --dark-green: rgb(72, 145, 120);
  --coral: rgb(239, 122, 98);
}

/* Google Fonts CSS */

/* Handwriting upright neat printing */
.annie-use-your-telescope-regular {
  font-family: 'Annie Use Your Telescope', cursive;
  font-weight: 400;
  font-style: normal;
}

/* Handwriting script looks like chalk */
.homemade-apple-regular {
  font-family: 'Homemade Apple', cursive;
  font-weight: 400;
  font-style: normal;
}

/* Organic-looking fat outlined letters */
.rubik-scribble-regular {
  font-family: 'Rubik Scribble', system-ui;
  font-weight: 400;
  font-style: normal;
}

/* Plain sans-serif typeface */
.quicksand-regular {
  font-family: 'Quicksand', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

/* Plain serif typeface */
.lora-regular {
  font-family: 'Lora', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Handwriting plain printing with slight backwards slant */
.indie-flower-regular {
  font-family: 'Indie Flower', cursive;
  font-weight: 400;
  font-style: normal;
}

/* Navbar styling */
.navbar {
  background-color: #c4bbbb; /* Change the background color of the navbar */
  padding: 1rem;
}

.nav-links {
  list-style: none; /* Remove bullet points */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
  display: flex; /* Display links horizontally */
  justify-content: flex-end; /* Align items to the right */
}

.nav-link {
  text-decoration: none; /* Remove default underline */
  color: #000000; /* Set link color */
  font-size: larger;
  padding: 1rem; /* Add padding to links */
}

.nav-link.active {
  font-weight: bold; /* Make active link bold */
  color: #0b5021; /* Change color of active link */
}

.nav-link:hover {
  text-decoration: underline; /* Add underline on hover */
}

/* Styling for header  */
.headerImage {
  width: 100%; /* Set the width to 100% of the viewport width */
  height: calc(
    100vw * 9 / 16
  ); /* Calculate the height based on the 16:9 aspect ratio */
  max-height: 200px; /* Optional: Set a maximum height to prevent the image from becoming too large */
  object-fit: cover;
}

/* NOTE from react portfolio */
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

root {
  --main-font-family: 'Philosopher', sans-serif;
  --linear-gradient: linear-gradient(45deg, pink, purple, blue);
}
.poiret-one-regular {
  font-family: 'Poiret One', sans-serif;
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', sans-serif;
  color: #252525;
  font-weight: 400;

  /* border-bottom: 25px solid #0b0b0b; */
}

.section {
  background-color: #f4b0e8;
  margin: 0;
  width: 100vw;
  height: 80vh;
  font-family: var(--main-font-family);
}

.text-gradient {
  background: -webkit-linear-gradient(
    50.1deg,
    rgba(2, 2, 124),
    #ae67fa,
    #f49867
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
